@import url("https://fonts.googleapis.com/css2?family=Alatsi&family=Amaranth:wght@400;700&family=Noto+Sans&family=PT+Sans+Narrow:wght@400;700&display=swap");

:root {
  background-color: #303236;
  --main-color: white;
  --strong-color: rgb(218, 218, 219);
  --important-color: rgb(241, 86, 65);
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  max-width: 1980px;
  margin: auto;
}

a {
  color: var(--strong-color);
  text-decoration: none;
}

.link-list :hover {
  color: var(--important-color);
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/background/head.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.delivery-service {
  font-family: "Alatsi", sans-serif;
  color: var(--strong-color);
}

#head ul {
  font-family: "Noto Sans", sans-serif;
  color: var(--important-color);
  font-size: 17px;
  font-weight: 400;
}

li {
  list-style-type: none;
}

.name p {
  color: var(--main-color);
  font-weight: 700;
  text-align: center;
}

h1 {
  font-family: "Amaranth", sans-serif;
  color: var(--important-color);
  font-weight: 700;
  text-align: center;
}

#about {
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 600;
}

section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/background/about.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about p {
  font-family: "Noto Sans", sans-serif;
  color: var(--strong-color);
  text-align: center;
}

article h3 {
  color: var(--important-color);
}

.menu-line {
  color: var(--main-color);
  font-size: 2.7rem;
  text-align: center;
}

.menu-position {
  border: 2px solid;
}

.menu-position h3 {
  color: var(--main-color);
  text-align: center;
  font-size: 1.4rem;
}

.menu-position p {
  font-family: "Noto Sans", sans-serif;
  color: var(--strong-color);
  text-align: center;
}

.menu-position img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

.add-to-cart {
  display: flex;
  justify-content: space-around;
}

button {
  width: 130px;
  height: 40px;
  border: 2px solid var(--strong-color);
  background-color: transparent;
  transition: 0.3s;
}

button:hover {
  background-color: var(--important-color);
}

.button-content {
  font-size: 1rem;
  color: var(--main-color);
  text-align: center;
}

.carousel-buttons {
    padding: 25px;
  }

.order-now {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/background/order.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.order-now h2 {
  color: var(--main-color);
  font-size: 2.7rem;
}

#countdown {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

#countdown p {
  font-family: "Amaranth", sans-serif;
  color: var(--important-color);
  font-size: 1.5rem;
  text-align: center;
}

#countdown span {
  font-family: "Amaranth", sans-serif;
  color: var(--main-color);
  font-size: 3rem;
  text-align: center;
}

.carousel-buttons {
  display: flex;
  justify-content: center;
  padding: 25px 25px 25px 25px;
}

.contacts h4 {
  font-family: "Amaranth", sans-serif;
  color: var(--important-color);
  font-size: 30px;
}

.contacts ul :hover {
  color: var(--important-color);
}

h5 {
  font-family: "Noto Sans", sans-serif;
  color: var(--strong-color);
  font-size: 17px;
}

.contacts .developer {
  color: var(--strong-color);
  font-size: 12px;
}

.delivery-bottom {
  color: var(--main-color);
}

.join {
  max-width: 30px;
}

nav div {
  text-align: center;
}

.map {
  padding-top: 50px;
}

ul {
  padding-left: 0px;
}

@media (min-width: 300px) {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 5px;
  }

  h1 {
    font-size: 7.5rem;
    margin: 25px 5px 0 0;
    padding: 0 5px 100px 5px;
  }

  .name p {
    font-size: 1.7rem;
    margin: 15px 5px 15px 0;
    padding: 50px 5px 0 5px;
  }

  #about h2 {
    color: var(--main-color);
    text-align: center;
    font-size: 1.4rem;
    margin: 0 5px 0 0;
    font-size: 1.3rem;
    padding: 5px 15px 20px 5px;
  }

  article div {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-left: 5px;
    margin-right: 0;
    padding: 5px 15px 0 5px;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr;
  }

  .order-now {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .order-now h2 {
    padding: 10px 10px 10px 10px;
    text-align: center;
  }

  .carousel-buttons {
    padding: 10px 25px 10px 25px;
  }

  #countdown p {
    font-size: 1rem;
    text-align: center;
  }

  #countdown span {
    font-size: 3rem;
    text-align: center;
  }

  #bottom {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 550px) {
  nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: space-around;
  }

  .link-list {
    display: flex;
    padding: 0;
    justify-content: space-around;
  }

  .delivery-service {
    justify-self: center;
    margin-top: 17px;
  }

  h1 {
    font-size: 7.5rem;
    margin: 15px 5px 0 5px;
    padding: 50px 5px 150px 5px;
  }

  .name p {
    font-size: 2rem;
    margin: 15px 5px 15px 0;
    padding: 150px 5px 0 5px;
  }

  #about h2 {
    color: var(--main-color);
    text-align: center;
    font-size: 1.5rem;
    padding: 50px 5px 50px 5px;
  }

  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .order-now {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .order-now h2 {
    padding: 10px 25px 10px 50px;
    font-size: 3rem;
  }

  .carousel-buttons {
    padding: 10px 25px 10px 25px;
  }

  #bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 825px) {
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-around;
  }

  .link-list {
    display: flex;
    padding: 0;
    justify-content: space-around;
  }

  .delivery-service {
    justify-self: center;
    margin-top: 1.2rem;
    font-size: 1.5rem;
  }

  h1 {
    font-size: 10rem;
    padding: 0 15px 175px 15px;
  }

  .name p {
    font-size: 2.5rem;
    padding: 120px 5px 30px 5px;
  }

  #about h2 {
    color: var(--main-color);
    text-align: center;
    margin: 0 5px 0 5px;
    font-size: 2rem;
    padding: 120px 15px 50px 15px;
  }

  article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  article p {
    padding: 50px 15px 50px 15px;
    font-size: 1.4rem;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .order-now {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .order-now h2 {
    padding: 10px 50px 10px 50px;
    font-size: 3.5rem;
  }

  #bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
